*{
    font-family: 'Inter', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    font-weight: 600px;
    font-size: 20px;
    color: #005FAC;
    height: 64px;
    width: 160px;
    background: #FFFFFF;
    border-radius: 5px;
    /* margin-bottom: 166px; */
    border: none;
}
.b-banner{
    background-image: url("../images/banner/banner3.png");
    padding: 1px;
    width: 1600px;
    height: 808px;
    
}

.banner-title{

    font-weight: 700px;
    font-size: 65px;
    color: #FFFFFF;
    /* height: 228px;
    width: 525px; */
    margin-top: 216px;
    margin-left: 845px;
    margin-bottom: 24px;

}
.banner-des{
    font-weight: 400px;
    font-size: 16px;
    color: #FFFFFF;
    /* margin-top: 24px; */
    margin-bottom: 32px;
    margin-left: 876px;
}
.banner{
    text-align: right;
    margin-right: 230px;
    /* align-items: center; */
}
.paw{
    display: flex;
}
.my-info{
    display: flex;
    margin-top: 131px;
    margin-left: 206px;
    margin-right: 322px;
    width: 1072px;
    height: 723.3px;
}
.my-failures{
    margin-left: 87px;
    margin-top: 240px;
    /* margin-right: 322px; */
    
}
.my-f-title{
    font-weight: 700px;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.my-f-des{
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}
.my-f-more-des{
    font-weight: 400px;
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
}
.my-plans-title{
    font-weight: 700px;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 130px;
}
.plan-content{
    display: flex;
    gap: 35px;
    align-items: center;
    margin-left: 230px;
    margin-right: 229px;
}
.plan-item{
    /* align-items: center; */
    text-align: center;

}
.plan-title{
    font-weight: 700px;
    font-size: 30px;
    text-align: center;
    color: #151414;
}
.plan-des{
    font-weight: 500px;
    font-size: 25px;
    text-align: center;
    color: #737272;
    margin-top: 16px;
}
.mindset{
    
    background-repeat: no-repeat;
    margin-top: 130px;
    margin-left: 230px;
    border-radius: 8px;
    background-image:
    linear-gradient(90deg,#005FAC 0%, rgb(0, 95, 172, 0) 100%),
    url('../images/watch.png');
    /* text-align: left; */
}
.m-container{
    text-align: left;
    margin-left: 64px;
    margin-bottom: 147px;
    margin-top: 59px;
    /* padding-top: 59px; */
    /* padding: 9px 617px 147px 64px; */

}
.mindset-title{
    font-weight: 700px;
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
    /* padding-bottom: 24px; */
    padding-top: 59px;
    padding-right: 617px;
    
}
.btn-primary.btn{
    
    margin-bottom: 45px;
}
.btn-primary.sub{
    background: #005FAC;
    color: #FFFFFF;
    
}
.contact{
    display: flex;
    gap: 330px;
    background: #000000;
    color: #FFFFFF;
    width: 1600px;
    height: 577px;
}
.sec-title{
    font-weight: 700px;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.sec-des{
    font-weight: 400px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24PX;
}
.part-1{
    padding-left: 230px;
    padding-top: 130px;
}
.part-2{
    margin-right: 229px;
    padding-top: 130px;
}
.sec-title-2{
    font-weight: 600px;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.contact input[type="text"]{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 18px 30px;
    background: #000;
    color: #F3F3F3;
    font-weight: 400px;
    font-size: 18px;
}


    